body {
    background-image: url(../images/background.png);
}
.b-preloader {
    color: #53BF6B;
    display: inline-block;
}
.b-server {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.b-server__title {
    text-align: center;
    background-color: #d6d6d6;
    margin-top: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.b-server__hosts-list {
    padding: 0 !important;
}
.b-server__hosts-list table {
    background-color: #D6D6D6;
    margin-bottom: 0px !important;
}
.b-server__hosts-list th,
.b-server__hosts-list td
{
    padding: 4px !important;
}
.b-server__hosts-list thead tr {
    background-color: #474747;
    color: #fff;
}
.b-server__hosts-list tbody th {
    vertical-align: middle !important;
    height: 39px;
}
.b-server__hosts-list-name {
    width: 20%;
}
.b-server__hosts-status_danger {
    color: #fff;
    background-color: #d9534f;
}
.b-server__hosts-list tr:hover .b-server__service-btn {
    max-width: none !important;
    line-height: 1.5 !important;
}
.b-server__service-btn {
    margin-left: 2px;
    margin-bottom: 1px !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
    text-overflow: ellipsis;
    white-space: nowrap !important;
    max-width: 50px;
    overflow: hidden !important;
    line-height: 1.4 !important;
}
.b-host__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100px;
    overflow: hidden;
}
